@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9f7;
}

.modal-signup {
  background-color: #f8f7f8;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  box-sizing: border-box;
  /* font-family: Source Sans Pro; */
  height: 100%;
  left: 0;
  padding: 48px;
  position: relative;
  text-align: left;
  top: 0;
  width: 100%;
}
